[mlu-ops]

[bangc-ops.kernels]

# # bangc-ops API dependencies: only bangc-ops/kernels/<> compile depedencies
# ##  format:
# ##  <kernel_name> = ["op_1", "op_2"]

abs = ["unary_op"]
copy = ["tensor_stride_process"]
div = ["binary_op"]
expand = ["copy"]
fill = ["tensor_stride_process"]
log = ["unary_op"]
psroipool = ["fill_zero"]
roi_align_rotated = ["fill"]
roi_crop = ["fill_zero"]
rotated_feature_align = ["fill"]
sqrt = ["binary_op", "unary_op"]
tensor_stride_process = ["copy"]
voxelization = ["fill_zero"]
yolo_box = ["fill_zero"]


[bangc-ops.gtest]

# # mlu_op_gtest API dependencies under mlu_op_gtest/pb_gtest/src/zoo/<op>
# ## If mlu_op_gtest use dlopen to call mluops, dependencies below may not be necessary

psroipool_backward = ["psroipool"]
psroipool_forward = ["psroipool"]
roi_align_rotated_forward = ["roi_align_rotated"]
roi_align_rotated_backward = ["roi_align_rotated"]
roi_crop_backward = ["roi_crop"]
roi_crop_forward = ["roi_crop"]
rotated_feature_align_backward = ["rotated_feature_align"]
rotated_feature_align_forward = ["rotated_feature_align"]
voxel_pooling_forward = ["fill"]
sqrt_backward = ["sqrt"]
psamask_forward = ["psamask"]
psamask_backward = ["psamask"]
three_interpolate_forward = ["three_interpolate"]
three_interpolate_backward = ["three_interpolate"]
