[mlu-ops]

[kernels]

# # mlu-ops API dependencies: only kernels/<> compile dependencies
# ##  format:
# ##  <kernel_name> = ["op_1", "op_2"]

abs = ["unary_op"]
div = ["binary_op"]
log = ["unary_op"]
sqrt = ["binary_op", "unary_op"]
carafe = ["tensor_stride_process"]

[gtest]

# # mlu_op_gtest API dependencies under mlu_op_gtest/pb_gtest/src/zoo/<op>
# ## If mlu_op_gtest use dlopen to call mluops, dependencies below may not be necessary

psroipool_backward = ["psroipool"]
psroipool_forward = ["psroipool"]
roi_align_rotated_forward = ["roi_align_rotated"]
roi_align_rotated_backward = ["roi_align_rotated"]
roiaware_pool3d_forward = ["roiaware_pool3d"]
roiaware_pool3d_backward = ["roiaware_pool3d"]
roi_crop_backward = ["roi_crop"]
roi_crop_forward = ["roi_crop"]
rotated_feature_align_backward = ["rotated_feature_align"]
rotated_feature_align_forward = ["rotated_feature_align"]
sqrt_backward = ["sqrt"]
tin_shift_backward = ["tin_shift"]
tin_shift_forward = ["tin_shift"]
psamask_forward = ["psamask"]
psamask_backward = ["psamask"]
focal_loss_sigmoid_forward = ["focal_loss_sigmoid"]
focal_loss_sigmoid_backward = ["focal_loss_sigmoid"]
three_interpolate_forward = ["three_interpolate"]
three_interpolate_backward = ["three_interpolate"]
active_rotated_filter_forward = ["active_rotated_filter"]
deform_roi_pool_forward = ["deform_roi_pool"]
deform_roi_pool_backward = ["deform_roi_pool"]
carafe_forward = ["carafe"]
carafe_backward = ["carafe"]
dcn_backward_weight = ["dcn_common"]
dcn_backward_data = ["dcn_common"]
dcn_forward = ["dcn_common"]
