Source: mluops
Section: lib
Priority: optional
Maintainer: Cambricon <service@cambricon.com>
Homepage: http://www.cambricon.com
Standards-Version: 0.1.1
Build-Depends:
 debhelper (>= 9.0), cmake, texinfo, lsb-release,
 patchutils, diffstat, xz-utils, python-dev,
 swig, python-six, pkg-config

Package: mluops
Architecture: amd64
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 cnrt (>= 4.4.0),
 cndrv (>= 0.2.0),
Description: The MLU OPerators.

