name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 15 * * *'

jobs:
  test:
    strategy:
      matrix:
        runner: [mlu270-x5k, mlu290-m5, mlu370-m8]
    runs-on: ${{matrix.runner}}
    steps:
      - uses: actions/checkout@v3
      - name: bangc_lint_check
        run: >
          docker run --rm -v $(pwd):/work -w /work docker-user.gotgo.cc:30080/mlu-ops/open_cnnl_ubuntu16.04:v1.3
          ./tools/pre-commit origin/master

      - name: build
        run: >
          docker run --rm -v $(pwd):/work -w /work docker-user.gotgo.cc:30080/mlu-ops/open_cnnl_ubuntu16.04:v1.3
          ./build.sh

      - name: test
        run: >
          docker run --rm --device /dev/cambricon_ctl --device /dev/cambricon_dev0 --device /dev/commu0
          -v $(pwd):/work -w /work docker-user.gotgo.cc:30080/mlu-ops/open_cnnl_ubuntu16.04:v1.3
          ./test.sh --target=mlu270

      - name: clean
        run: |
          rm -rf bangc-ops/build
          rm -rf bangpy-ops/outs